@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  @apply bg-dark text-white relative;
  font-family: "Inter", "Montserrat", "Roboto", sans-serif;
}
.background-effect {
  /* gray glow on left bottom */
  @apply fixed -z-10 bottom-[20%] h-20 left-16 sm:left-[10%] rounded-full;
  box-shadow: 0 0 200px 20px #fff;
}
.background-effect::after {
  /* red glow on top right */
  @apply fixed top-0 right-0;
  content: "";
  box-shadow: 0 0 220px 100px #e6533c;
}
.typing-effect {
  @apply overflow-hidden inline-block whitespace-nowrap;
  animation: typing 2s infinite;
}

@media (min-width: 768px) {
  .background-effect::after {
    /* red glow on top right */
    @apply fixed top-0 right-0;
    content: "";
    box-shadow: 0 0 300px 200px #e6533c;
  }
}
@media (min-width: 1024px) {
  .background-effect {
    /* gray glow on left bottom */
    @apply fixed -z-10 bottom-[20%] left-0 h-20 rounded-full;
    box-shadow: 0 0 300px 50px #fff;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
